version: "3.8"

services:
  mysql:
    image: mysql:8.0
    container_name: pokemon-mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: pokemon
      MYSQL_USER: pokemon
      MYSQL_PASSWORD: pokemon
    ports:
      - "3306:3306"
    command: --default-authentication-plugin=mysql_native_password
    volumes:
      - mysql-data:/var/lib/mysql

volumes:
  mysql-data:
